<!-- /* Side bar */ -->
<div class="container-fluid h-100">
    <div class="row">
      <div class="col-md-1">
        <nav class="navbar navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <div class="offcanvas offcanvas-start h-auto drawer show" (hide.bs.offcanvas)="onDrawerHide()" (show.bs.offcanvas)="onDrawerShow()" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <!-- Open/closes the drawer -->
              <button class="navbar-toggler drawer-button position-absolute" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <fa-icon [icon]="drawerIcon"></fa-icon>
              </button>
              <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasNavbarLabel">Journal Manager</h2>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <!-- /* Opens a journal setup page */ -->
                    <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" [routerLink]="['settings']"><button type="button" class="btn btn-primary button-wide">New<fa-icon [icon]="faPlus"></fa-icon></button></a>
                  </li>
                  <li *ngFor="let journal of journalService.journals">
                    <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"><button type="button" class="btn btn-primary button-wide" (click)="onJournalClicked(journal.name)">{{journal.name}}<fa-icon [icon]="faBook"></fa-icon></button></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
<!-- /* Setup page should consist of
    Journal Name
    Bullets: quick notes about the entry
*/ -->
<!-- /* Setup is done Journal is added to side bar in selected state*/
/* Journal is loaded into journal view (space between side bar and top nav)*/ --> -->
